.voiceactors-header {
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 12px;
  text-align: left;
}

.voiceactors tr:hover {
  background-color: #f5f5f5;
}

.voiceactors-title {
  display: flex;
  justify-content: center;
  font-family: "Bricolage Grotesque", sans-serif;
}
